<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımda - NF Blog</title>
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
        integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
        crossorigin="anonymous"></script>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme-1.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
</head>
<body>
<header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0"><a href="/">NF BLOG</a></h1>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navigation" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                {% if post and post.pp %}
                <img class="profile-image mb-3 rounded-circle mx-auto"
                     src="{{ url_for('static', filename='assets/images/' + post.pp) }}" alt="Profil">
                {% else %}
                <div class="profile-image mb-3 rounded-circle mx-auto bg-secondary d-flex align-items-center justify-content-center" style="width:90px;height:90px;">
                    <i class="fas fa-user fa-2x text-white"></i>
                </div>
                {% endif %}
                {% if post %}
                <div class="bio mb-3">{{ post.ozet }}</div>
                <ul class="social-list list-inline py-3 mx-auto">
                    {% if post.tw and post.tw != '#' %}<li class="list-inline-item"><a href="{{ post.tw }}" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>{% endif %}
                    {% if post.li and post.li != '#' %}<li class="list-inline-item"><a href="{{ post.li }}" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>{% endif %}
                    {% if post.gh and post.gh != '#' %}<li class="list-inline-item"><a href="{{ post.gh }}" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>{% endif %}
                    {% if post.st and post.st != '#' %}<li class="list-inline-item"><a href="{{ post.st }}" target="_blank"><i class="fab fa-stack-overflow fa-fw"></i></a></li>{% endif %}
                </ul>
                {% endif %}
                <hr>
            </div>
            <ul class="navbar-nav flex-column text-left">
                <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home fa-fw mr-2"></i>Anasayfa</a></li>
                <li class="nav-item active"><a class="nav-link" href="/about"><i class="fas fa-user fa-fw mr-2"></i>Hakkımda</a></li>
                <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-cog fa-fw mr-2"></i>Panel</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="main-wrapper">
    <section class="about-me-section p-3 p-lg-5 theme-bg-light">
        <div class="container">
            <div class="profile-teaser media flex-column flex-lg-row">
                {% if post and post.pp %}
                <img class="profile-image mb-3 mb-lg-0 mr-lg-5 ml-lg-0 rounded mx-auto"
                     src="{{ url_for('static', filename='assets/images/' + post.pp) }}" alt="Profil">
                {% endif %}
                <div class="media-body">
                    <h2 class="name font-weight-bold mb-1">{{ post.username if post else 'Admin' }}</h2>
                    <div class="tagline mb-3">{{ post.ozet if post else '' }}</div>
                    <div class="bio mb-4">{{ post2.hkm | safe if post2 else '' }}</div>
                    <ul class="list-inline mb-0">
                        {% if post and post.gh and post.gh != '#' %}
                        <li class="list-inline-item">
                            <a class="btn btn-primary" href="{{ post.gh }}" target="_blank">
                                <i class="fab fa-github mr-2"></i>GitHub
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer text-center py-2 theme-bg-dark">
        <small class="copyright"><i class="fas fa-code"></i> NF Blog</small>
    </footer>
</div>

<script src="{{ url_for('static', filename='assets/plugins/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
