<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }} - NF Blog</title>
    <meta name="description" content="{{ post.content | striptags | truncate(160) }}">
    <meta name="author" content="{{ post2.username if post2 else 'NF Blog' }}">

    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
        integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme-1.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <style>
        .blog-banner img { max-height: 400px; width: 100%; object-fit: cover; border-radius: 8px; }
    </style>
</head>
<body>

<header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0"><a href="/">NF BLOG</a></h1>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navigation" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                {% if post2 and post2.pp %}
                    <img class="profile-image mb-3 rounded-circle mx-auto"
                         src="{{ url_for('static', filename='assets/images/' + post2.pp) }}" alt="Profil">
                {% else %}
                    <div class="profile-image mb-3 rounded-circle mx-auto bg-secondary d-flex align-items-center justify-content-center" style="width:90px;height:90px;">
                        <i class="fas fa-user fa-2x text-white"></i>
                    </div>
                {% endif %}
                {% if post2 %}
                <div class="bio mb-3">{{ post2.ozet }}</div>
                <ul class="social-list list-inline py-3 mx-auto">
                    {% if post2.tw and post2.tw != '#' %}<li class="list-inline-item"><a href="{{ post2.tw }}" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>{% endif %}
                    {% if post2.li and post2.li != '#' %}<li class="list-inline-item"><a href="{{ post2.li }}" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>{% endif %}
                    {% if post2.gh and post2.gh != '#' %}<li class="list-inline-item"><a href="{{ post2.gh }}" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>{% endif %}
                    {% if post2.st and post2.st != '#' %}<li class="list-inline-item"><a href="{{ post2.st }}" target="_blank"><i class="fab fa-stack-overflow fa-fw"></i></a></li>{% endif %}
                </ul>
                {% endif %}
                <hr>
            </div>
            <ul class="navbar-nav flex-column text-left">
                <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home fa-fw mr-2"></i>Anasayfa</a></li>
                <li class="nav-item"><a class="nav-link" href="/about"><i class="fas fa-user fa-fw mr-2"></i>Hakkımda</a></li>
                <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-cog fa-fw mr-2"></i>Panel</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="main-wrapper">
    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container">
            <header class="blog-post-header">
                <h2 class="title mb-2">{{ post.title }}</h2>
                <div class="meta mb-3">
                    <span class="date"><i class="fas fa-calendar-alt mr-1"></i>{{ post.date.strftime('%d %B %Y') }}</span>
                    <span class="time ml-3"><i class="fas fa-tag mr-1"></i>{{ post.cat }}</span>
                </div>
            </header>

            {% if post.resim %}
            <div class="blog-banner mb-4">
                <img class="img-fluid rounded"
                     src="{{ url_for('static', filename='assets/images/' + post.resim) }}" alt="{{ post.title }}">
            </div>
            {% endif %}

            <div class="blog-post-body">
                {{ post.content | safe }}
            </div>

            <div class="mt-5">
                <a class="btn btn-secondary" href="/"><i class="fas fa-arrow-left mr-1"></i> Tüm Yazılar</a>
            </div>
        </div>
    </article>

    <footer class="footer text-center py-2 theme-bg-dark">
        <small class="copyright"><i class="fas fa-code"></i> NF Blog</small>
    </footer>
</div>

<script src="{{ url_for('static', filename='assets/plugins/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>